@import 'mixins';

.cast-prof {
  --img-width: 180px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 22px;
  padding-bottom: 30px;

  &__img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: var(--img-width);
  }

  &__name {
    max-width: var(--img-width);
    margin-top: 5px;
    font-family: var(--font-gotham-bold);
    font-size: var(--text-sm);
    text-align: center;
  }

  &__character {
    padding-inline: 5px;
    max-width: var(--img-width);
    font-family: var(--font-open-sans);
    text-align: center;
  }
}
