@import 'mixins';

.error {
  min-height: 60vh;

  &__404 {
    @extend %empty-subtitle;
    margin-top: 80px;
    font-family: var(--font-gotham);
    font-size: var(--text-sm);
    text-transform: uppercase;
  }

  &__title {
    @extend %empty-title;
    margin-top: 20px;
  }

  &__subtitle {
    @extend %empty-subtitle;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__btn {
    @extend %empty-button;
    transform: none;
    left: 0;
  }
}
