@import 'mixins';

.header {
  @extend %parent-with-centered-children;
  justify-content: space-between;
  gap: 20px;
  background: var(--color-primary);
  padding-block: 18px;
  color: var(--color-light-1);

  &__logo {
    $self: &;
    flex-shrink: 0;
    position: relative;
    padding-block: 10px;
    margin-left: 40px;
    isolation: isolate;
    text-decoration: none;
    font-family: var(--font-comfortaa);
    font-weight: 1000;

    @keyframes shake-icon {
      0% {
        transform: rotate(-40deg);
      }

      20% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(-40deg);
      }

      70% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-40deg);
      }
    }

    &-title {
      font-size: var(--text-lg);
      letter-spacing: 1.2px;
    }

    &-subtitle {
      font-size: var(--text-xs);
      font-style: italic;
      font-family: var(--font-raleway);
      font-weight: 500;
      letter-spacing: 1px;
    }

    &-icon {
      position: absolute;
      z-index: -1;
      top: -17px;
      left: -28px;
      transform: rotate(-30deg);
      width: 40px;
      transition: 200ms;
    }

    &:hover,
    &:focus-within {
      #{$self}-icon {
        animation-name: shake-icon;
        animation-duration: 600ms;
        scale: 1.25;
      }

      #{$self}-subtitle {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: rgba(255, 255, 255, 0.637);
      }

      outline: none;
    }
  }

  &__watchlist {
    $self: &;
    display: flex;
    align-items: center;
    gap: 6px;

    margin-right: 20px;
    padding: 10px 8px;
    text-decoration: none;

    &:focus-within,
    &:hover {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 2px solid var(--color-light-1);
      background: var(--color-grey-dark-2);
      outline: none;
    }

    &-icon {
      font-size: var(--text-xxl);
    }

    &-text {
      font-size: var(--text-xs);
      font-family: var(--font-open-sans);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.search {
  @extend %parent-with-centered-children;
  align-items: stretch;
  gap: 5px;
  position: relative;
  padding-block: 20px;
  width: clamp(200px, 100%, 500px);

  &__input--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    --border-radius: 10px;

    height: 100%;
    text-indent: 10px;
    background: var(--color-primary);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-bottom: 1px solid var(--color-light-2);

    &:focus {
      background: var(--color-grey-dark-2);
      border-color: var(--color-accent-3);
      outline: none;
    }
  }

  &__label {
    display: none;
  }

  &__btn {
    @extend %parent-with-centered-children;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background: transparent;
    color: var(--color-light-1);
    cursor: pointer;
    transition: transform 100ms;

    & .material-symbols-outlined {
      font-size: var(--text-xl);
    }

    &:focus,
    &:hover {
      outline: none;
      color: var(--color-accent-3);
      transform: scale(1.1);
    }
  }

  &__error-message {
    position: absolute;
    transition: 100ms;
    top: calc(100% - 20px);
    color: red;
    font-size: var(--text-xs);
  }
}
