@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/fonts/gotham/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../assets/fonts/gotham/Gotham-Black.otf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../assets/fonts/gotham/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('../assets/fonts/gotham/Gotham-Thin.otf');
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../assets/fonts/gotham/Gotham-Ultra.otf');
}

@font-face {
  font-family: 'Gotham Italic';
  src: url('../assets/fonts/gotham/Gotham-MediumItalic.otf');
}
