@import 'mixins';

.mv-credits {
  @include center-self(horizontal);
  display: flex;
  flex-direction: column;
  width: var(--page-width);

  &__crew,
  &__cast {
    position: relative;
    margin-block: 20px;
  }

  &__title {
    text-indent: 15px;
    text-transform: uppercase;
    font-family: var(--font-gotham);
    font-size: var(--text-md);
    letter-spacing: 1px;
  }

  &__list {
    margin-top: 12px;
  }

  .flickity {
    &-viewport {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    &-enabled:focus-within,
    &-enabled:focus {
      outline: none;
    }

    &-button {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      cursor: pointer;

      &:disabled {
        display: none;
      }

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.75);
      }
    }

    &-button-icon {
      fill: white;
    }

    &-prev-next-button {
      --margin-inline: 20px;
      --button-size: 45px;

      @include center-self(vertical, absolute);
      width: var(--button-size);
      height: var(--button-size);
      border-radius: 25px;
      padding: 12px;

      &.previous {
        left: 0;
        margin-left: 10px;
      }

      &.next {
        right: 0;
      }
    }

    &-page-dots {
      display: none;
    }
  }
}
