@import 'mixins';

.search-results {
  --padding-inline: 15px;

  @include center-self(horizontal);
  padding-block: 50px;
  width: var(--page-width);

  &__title {
    margin-bottom: 20px;
    font-size: var(--text-xl);
    text-align: center;
    text-indent: var(--padding-inline);
  }

  &__container {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}

.empty-res {
  &__title {
    display: block;
    padding-inline: 10px;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 18px;
    font-size: var(--text-lg);
    font-family: var(--font-gotham-bold);
    text-align: center;
  }

  &__subtitle {
    font-size: var(--text-md);
    text-align: center;
  }

  &__btn {
    @include center-self(horizontal);
    margin-top: 30px;
    padding: 15px 20px;
    background: var(--color-accent-3);
    border-radius: 6px;
    cursor: pointer;

    font-family: var(--font-gotham-bold);
    font-size: var(--text-xs);
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: var(--color-primary);
      color: var(--color-light-1);
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
