@import 'mixins';

.search {
  @extend %parent-with-centered-children;

  background: var(--color-accent-1);
  padding-block: 20px;

  &__input--wrapper {
    display: flex;
    flex-direction: column;
    color: var(--color-light-1);
  }

  &__input {
    height: 100%;
  }

  &__label {
    display: none;
  }

  &__btn {
    border: 1px solid white;
    padding: 10px;
    background: transparent;
    color: var(--color-light-1);
    cursor: pointer;

    & .material-symbols-outlined {
      font-size: var(--text-md);
    }
  }
}
