@import 'mixins';

.search-results {
  --padding-inline: 15px;

  @include center-self(horizontal);
  padding-block: 50px;
  width: var(--page-width);
  min-height: 80vh;

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-gotham);
    font-size: var(--text-xl);
    text-align: center;
    text-indent: var(--padding-inline);
  }

  &__container {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}

.empty-res {
  &__title {
    @extend %empty-title;
  }

  &__subtitle {
    @extend %empty-subtitle;
  }

  &__btn {
    @extend %empty-button;
  }
}
